.table-wrapper {
  margin: 8px;

  table {
    border-left: 1px solid #e3e8f0;
    border-top: 1px solid #e3e8f0;
    table-layout: fixed;
    min-width: 100%;
  }

  th, td {
    border-right: 1px solid #e3e8f0;
    border-bottom: 1px solid #e3e8f0;
    min-width: 120px;
    white-space: nowrap;
    line-height: 1.6;
    padding: 8px;

    &.active {
      border-right: 1px solid #0887ff;
      border-bottom: 1px solid #0887ff;
    }
  }
}

.table-data {
  width: 100%;
  margin-bottom: 16px;

  thead {
    background: #F3F4F6;

    td {
      border-top: 1px solid #E3E8F0;
      font-weight: bold;
      color: #202D40;

      &:last-child {
        width: 50%;
        color: #202D40;
        border-right: 1px solid #E3E8F0;
      }
    }
  }

  tr td:last-child {
    width: 50%;
    color: #202D40;
    border-right: 1px solid #E3E8F0;
  }

  .td-title {
    width: 33% !important;
    border-right: none !important;
  }

  tr {
    &:hover {
      background: #f6f9fb;
      cursor: pointer;
    }

    &.active {
      td:first-child {
        background: rgba(8, 135, 255, 0.1);
        border-top-left-radius: 4px;
        border-right: none;
        border-bottom-left-radius: 4px;
        border-color: #0887ff;
      }

      td:last-child {
        background: rgba(8, 135, 255, 0.1);
        border: 1px solid #0887ff;
        border-left: 1px solid #E3E8F0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  td {
    line-height: 40px;
    padding-left: 8px;
    color: #5F6C80;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #E3E8F0;
    border-left: 1px solid #E3E8F0;
  }
}

.document-parsing {
  background-image: url('~@/assets/images/bj.png');
      background-size: auto 100%;
    background-position: center;
  padding: 30px 12px 2px 12px;

  .el-page-header {
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E7EC;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background: rgba(#202D40);
    opacity: 0.5;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    padding-right: 4px;
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.3);
  }
}
.result-list {
  .list-item {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 2px solid #E3E8F0;
    cursor: url('~@/assets/images/icon/手指.svg'), grab;

    &:hover {
      box-shadow: 0px 3px 6px 3px rgba(5, 18, 30, 0.1);
    }

    .head {
      font-weight: bold;
      border-bottom: 1px solid #E3E8F0;
      padding: 10px 0;
      margin: 0 16px;
    }

    .content {
      line-height: 26px;
      margin: 0 8px;
      padding: 0 8px;
      margin-top: 8px;
      border: 1px solid #fff;

      &:hover {
        background: #F7F8FA;
      }
    }

    .contentActive {
      border: 1px solid #0887FF;
      background: rgba(8, 135, 255, 0.1);
      border-radius: 4px;
    }
  }

  .active {
    background: url('~@/assets/images/icon/active.svg') no-repeat;
    background-position: 100% 0%;
    background-size: 24px 24px;
    border: 2px solid #0887FF;
  }
}