.common-page {
  display: flex;
  position: relative;
  margin-top: 24px;
}
.common-page-example {
  width: 6%;
  height: 100%;
  margin-right: 20px;
}
.page-example-img {
  width: 100%;
  height: 84px;
  margin-bottom: 4px;
  border: 1px solid #dadfe6;
  background: rgba(8, 135, 255, 0.08);
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}
.active {
  margin-bottom: 4px;
  border: 1px solid #0887ff;
  background: rgba(8, 135, 255, 0.08);
  border-radius: 0 0 4px 4px;
}
.active .example-img-title {
  background: rgb(8, 135, 255);
  border-radius: 0 0 4px 4px;
}
.example-img-each {
  width: 100%;
  height: 68px;
  overflow: hidden;
}
.example-img-each img {
  width: 100%;
  vertical-align: middle;
  padding: 5px 4px 0 4px;
}
.example-img-title {
  display: inline-block;
  width: 100%;
  height: 12px;
  line-height: 12px;
  background-color: #dadfe6;
  text-align: center;
}
.common-page-exhibition,
.common-page-table {
  width: 47%;
  height: calc(100vh - 84px);
  margin-right: 11px;
  border: 1px solid #e2e2ee;
}
.page-exhibition-button {
  display: flex;
  justify-content: space-between;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  border-bottom: 1px solid #e2e2ee;
  .exhibition-button-paging {
    display: flex;
    .dih-page {
      display: flex;
      line-height: 38px;
      .dih-page-input {
        background-color: transparent;
        max-width: 20px;
        border: none;
        text-align: center;
        outline: medium;
        color: #999;
      }
      .dih-page-span {
        width: 20px;
        height: 36px;
        display: inline-block;
        text-align: center;
        // padding: 1px 2px;
        color: rgb(153, 153, 153);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
}
.exhibition-button-name {
  font-size: 12px;
  font-weight: 500;
  color: #202d40;
}
.el-icon-arrow-left {
  margin-right: 10px;
}
.el-icon-arrow-right {
  margin-left: 10px;
}
.el-icon-zoom-in:before,
.el-icon-zoom-out:before {
  color: #5f6c80;
  font-size: 14px;
}
.is-disabled .el-icon-zoom-in:before,
.is-disabled .el-icon-zoom-out:before {
  color: #d9d9d9;
}
.button-paging-pagination1 {
  margin-right: 5px;
}
.left-button,
.right-button {
  cursor: pointer;
}
.dih-page-input {
  background-color: transparent;
  max-width: 20px;
  border: none;
  text-align: center;
  outline: medium;
  color: #999;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.button-paging-pagination2 {
  margin-left: 5px;
}
.exhibition-function-case {
  margin-left: 12px;
}
.exhibition-function-case img {
  cursor: pointer;
}
.button-paging-pagination2 {
  margin-left: 5px;
}
.exhibition-function-case {
  margin-left: 12px;
}
.exhibition-function-img {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
}
.function-img-case {
  position: relative;
  width: 100%;
}
.positionBox {
  position: absolute;
  background-color: #379cfa;
  opacity: 0.4;
}
.exhibition-function-img img {
  width: 100%;
}
.common-page-table {
  margin-right: 0;
  padding: 0 16px;
  box-shadow: 0px 3px 6px 3px rgba(5, 18, 30, 0.1);
  background-color: rgba(8, 135, 255, 0.03);
}
.page-table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  line-height: 58px;
}
.table-header-case {
  display: flex;
  align-items: center;
}
.table-header-case img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.header-case-title {
  color: #202d40;
  line-height: 58px;
  font-weight: 600;
  font-size: 16px;
}
.page-table-tabs {
  background: #ffffff;
  height: calc(100vh - 160px);
  // padding: 16px 16px 0 16px;
  overflow: auto;
  .dtr-center {
    height: calc(100vh - 186px);
    margin-top: 16px;
    overflow: auto;
    background: #fff;
    margin: 12px 12px;
    border: 1px solid #e3e8f0;
    p {
      margin: 14px 12px;
      cursor: pointer;
      border: 1px solid transparent;
      min-height: 26px;
      line-height: 26px;
      padding: 4px 8px;
      border-radius: 4px;
    }
    .dtr-center-selected {
      background: rgba(27, 198, 92, 0.3);
      box-shadow: 0px 3px 6px 3px rgba(5, 18, 30, 0.1);
    }
    .dtr-center-hover:hover {
      background: #f6f9fb;
      border-radius: 4px;
      box-shadow: 0px 3px 6px 3px rgba(5, 18, 30, 0.1);
    }
  }
}
.el-table {
  height: calc(100vh - 214px);
  overflow: auto;
  font-size: 12px;
}
.el-table .cell {
  white-space: pre-line;
}
.document-upload {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #b4dbff;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -3px 6px 0px rgba(5, 18, 30, 0.04);
}
.upload-demo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
}
.upload-demo-case {
  position: fixed;
  left: 0;
  bottom: 60px;
  width: 300px;
  height: 162px;
  padding: 20px 30px 25px 30px;
  background: #ffffff;
  border: 1px solid #b4dbff;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -3px 6px 0px rgba(5, 18, 30, 0.04);
  text-align: center;
  cursor: pointer;
}
.el-upload {
  display: inline !important;
}
.upload-text {
  color: #8492a6;
}

